 <div class="panel-heading"><h4>Gift Memberships</h4></div>
    <div class="panel-body">





            <p>You can purchase a Bookshare&reg; membership for somebody with a
                <a href="/_/membership/qualifications">qualifying disability</a>, such as visual
                impairment, learning disability or physical disability. You can also order an
                embossed Braille book as a gift for anyone in the U.S.</p>

            <p>Memberships are $50 a year plus a one-time $25 set up fee for new Members. A
                Bookshare membership provides unlimited downloads for a year. There are no
                per-book download charges or other costs.</p>

            <p><strong>TIP</strong>: All U.S. students are eligible for free memberships as
                part of an award from the U.S. Department of Education Office of Special
                Education Programs (OSEP).</p>

            <p>After receiving the gift membership, the recipient will need to register on
                the Bookshare website (if under 18, a parent will need to sign the Member
                Agreement) and provide Proof of Disability.</p>

            <p>Please <a href="http://www.bookshare.org/contactUs">Contact Us</a> if you
                would like to purchase a gift membership.</p>

            <p>For information on ordering a Braille book, visit the
                <a href="http://www.bookshare.org/_/gettingStarted/readBooks">Read Books</a>
                page.</p>

            <p>If you are interested in making a
                <a href="/_/contribute/donateFunds">financial contribution</a> or volunteering
                to help Bookshare, <a href="/_/contribute/overview">visit the Contribute
                    page</a>.</p>

            <p>&nbsp;</p>




        </div><!-- End .oneCol .static -->