<div class="panel-heading"><h4>Membership Options</h4></div>
                <div class="panel-body">
                    <h2>Joining Bookshare offers a number of benefits</h2>
                    <ul>
                        <li>Access to the world’s largest online library of accessible reading materials (books, textbooks, newspapers and magazines) for people with print disabilities.</li>
                        <li>An unlimited library card, providing a steady flow and variety of new reading materials anytime you want, seven days a week, 24 hours a day.</li>
                        <li>Free access technology for reading books in the DAISY format.</li>
                    </ul>
                    <p>
                        Membership in Bookshare&reg; is available to individuals with
                        <a href="/_/membership/qualifications">qualifying print disabilities</a>
                        and to organizations supporting those individuals.
                    </p>
                    <ul>
                        <li><a href="#IndividualMemberships">Individual Memberships</a></li>
                        <li><a href="#OrganizationalMemberships">Organizational Memberships</a></li>
                        <li><a href="#GiftMemberships">Gift Memberships</a></li>
                    </ul>
                    <p>
                        Through an award from the U.S. Department of Education Office of Special
                        Education Programs (OSEP), Bookshare offers free memberships to U.S.
                        schools and qualifying U.S. students. Read more about the
                        <a href="/_/aboutUs/2012/07/benetechWinsAward">OSEP award</a>.
                    </p>

                    <a name="IndividualMemberships" id="IndividualMemberships"></a>
                    <h2>Individual Memberships</h2>
                    <p>
                        An individual membership allows any individual with a qualifying print
                        disability to download books from Bookshare. Individuals can have their
                        own individual membership and can also be listed on an organization’s
                        membership.
                    </p>
                    <p>
                        Students under the age of 18 need permission from a parent or guardian to
                        sign up with Bookshare.
                    </p>
                    <p>
                        The default number of downloads per month is 100 books. Individuals wanting
                        more may <a href="/contactUs?sendInfoOn=My%20Number%20of%20Book%20Downloads">increase this default by contacting Bookshare</a>.
                    </p>
                    <div class="table-responsive">

                        <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">Membership Type</th>
                            <th scope="col">Cost</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row" class="row">Qualifying U.S. students:
                                <ul>
                                    <li>K-12 (public and private)</li>
                                    <li>Home-schooled students</li>
                                    <li>Post-secondary (public and private)</li>
                                    <li>Adult education</li>
                                </ul>

                            </th><td>
                            Free (<a href="/_/aboutUs/2012/07/benetechWinsAward"> Currently funded by OSEP</a>)
                        </td>
                        </tr>
                        <tr>
                            <th scope="row" class="row">All other U.S. individuals</th>
                            <td>$75 ($25 one-time set up fee + $50 annual fee) </td>
                        </tr>
                        <tr>
                            <th scope="row" class="row">International individuals</th>
                            <td>Generally same as U.S. individuals, but some countries (e.g. India)
                                have lower fees. <a href="/_/membership/international"> Visit the
                                    International page for more information</a>. </td>
                        </tr>
                        </tbody>
                    </table>

                    <p>
                    </p><form action="/signUpMember">
                    <input type="submit" value="Sign up for an individual membership" class="button">
                </form>
                    <p></p>

                    <br><br>
                    <a name="OrganizationalMemberships" id="OrganizationalMemberships"></a>
                    <h2>Organizational Memberships</h2>
                    <p>
                        Organizations that serve adults and students with print disabilities may
                        register for <a href="/signUpOrganization">organizational memberships</a>.
                    </p>
                    <p>
                        Organizations that might want to register for membership include: schools at
                        all levels, libraries, rehabilitation agencies, resource centers, retirement
                        communities and group homes both inside and outside the U.S.
                    </p>
                    <p>
                        With this type of membership, teachers and/or staff members (Sponsors)
                        download books for their students and/or clients (Members). These
                        organizations provide Bookshare with:
                    </p>
                    <ul>
                        <li>Roster of Sponsors: teachers and/or staff members who will download the books</li>
                        <li>Roster of Members: students and/or clients with <a href="/_/membership/qualifications">qualifying print disabilities</a> who will read the books</li>
                    </ul>
                    <p>
                        Organizations can also recommend that their Members sign up for individual
                        memberships so they can download books on their own.
                    </p>
                    <p>
                        Currently, memberships for U.S. educational institutions are <a href="/_/aboutUs/2012/07/benetechWinsAward">funded by OSEP</a>,
                        and are therefore free. Other organizations can purchase
                        memberships as described in the table below.
                    </p>
                    <p>
                        U.S. public K-12 schools with memberships have access to Bookshare’s
                        NIMAC-sourced (National Instructional Materials Accessibility Center)
                        textbooks and can download these books for students who are Chafee qualified
                        and have an Individualized Education Plan (IEP).
                    </p>
                    <h3>Organizational Memberships Options</h3>

                    <div class="table-responsive">

                    <table class="table table-bordered">
                        <thead>
                        resultsTable
                        <tr>
                            <th scope="col">Membership Type</th>
                            <th scope="col">Cost</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row" >U.S. schools:
                                <ul>
                                    <li>K-12</li>
                                    <li>Colleges and universities</li>
                                    <li>All other educational institutions</li>
                                </ul>
                            </th>
                            <td>Free for all U.S. schools (<a href="/_/aboutUs/2012/07/benetechWinsAward">Funded by OSEP</a>)</td>
                        </tr>
                        <tr>
                            <th scope="row" >All other U.S. organizations</th>
                            <td>By Number of Books
                                <ul>
                                    <li>30 book block $300</li>
                                    <li>60 book block $450</li>
                                    <li>100 book block $600</li>
                                </ul>
                                Or, <br>
                                by Funding Individual Memberships <br>
                                $75 ($25 one-time set up fee + $50 annual fee) </td>
                        </tr>
                        <tr>
                            <th scope="row" >All international organizations</th>
                            <td>Generally same as U.S. organizations, but some countries (e.g. India) have lower fees.
                                <a href="/_/membership/international">Visit the International page for more information</a>.
                            </td>
                        </tr>
                        </tbody>
                    </table>
                        </div>

                    </div>


                    <p>
                    </p><form action="/signUpOrganization">
                    <input type="submit" value="Sign up for an organizational membership" class="button">
                </form>
                    <p></p>

                    <a name="GiftMemberships" id="GiftMemberships"></a>
                    <h2>Gift Memberships</h2>
                    <p>
                        You can purchase a Bookshare membership for someone with a qualifying
                        disability. You can also order a Braille book as a gift.
                        <a href="/_/membership/gift">Learn more about gift memberships</a>.
                    </p>
              

                </div><!--/panel-body-->