<div class="panel-heading"><h4>Membership Overview</h4></div>
                <!--<h1 tabindex="-1" accesskey="1">Membership Overview</h1>-->
                    <div class="panel-body">
                    <br>
                    <p>Bookshare&reg; provides the world’s largest online library of accessible reading
                        materials for people with print disabilities. Individuals can sign up for
                        membership and access the library on their own. Organizations that serve
                        individuals with print disabilities (schools, libraries, community centers,
                        etc.) can sign up and provide access to their students or clients.</p>

                    <p>A Bookshare membership offers unlimited access to accessible books,
                        textbooks, newspapers and magazines. Additionally, free access technology makes
                        it easy to read books with a computer.</p>

                    <p>Through an award from the U.S. Department of Education Office of Special
                        Education Programs (OSEP), Bookshare offers free memberships to U.S. schools and
                        qualifying U.S. students. Read more about the
                        <a href="/_/aboutUs/news/pressReleases#OSEP_award">OSEP award</a>.</p>
                    <h2>In this section:</h2>
                    <ul>
                        <li><a href="/membershipOptions"><strong>Membership Options</strong></a><br>
                            Information and sign up links for individuals and organizations.</li>
                        <li><a href="/_/membership/qualifications"><strong>Qualifications</strong></a>
                            <br>
                            Guidelines on who qualifies for Bookshare and who has the credentials to make
                            that determination.</li>
                        <li><a href="/_/membership/gift"><strong>Gift Memberships</strong></a><br>
                            Information on purchasing a gift membership for someone with a qualifying
                            disability.</li>
                        <li><a href="/_/membership/international"><strong>International</strong></a>
                            <br>
                            Information about Bookshare’s globally available books and links to information
                            for specific countries.</li>
                    </ul>

                    <p>&nbsp;</p>
</div><!--/panel-body-->
