<div class="panel-heading"><h4>Qualifications</h4></div>
<div class="panel-body">


<p>An individual with a physically-based disability that makes it difficult or
    impossible to read a printed book likely will qualify for Bookshare&reg; services.&nbsp;
    Organizations (schools, libraries, and rehabilitation and social services
    agencies) can also obtain Bookshare services to support their efforts to meet
    the reading needs of people with these disabilities.&nbsp; The individual signing up
    for our services, or the organization serving that individual, will be asked to
    provide Bookshare with a Proof of Disability (certified by someone who is a
    Competent Authority as described below) during the registration process. As
    explained in more detail below, the Qualifications to enroll in and use
    Bookshare services are based on an exception contained in Section 121 of U.S.
    Copyright law, commonly known as the Chafee Amendment.&nbsp; These qualifications are
    not set by Bookshare itself -&nbsp; we have to comply with the law that makes
    Bookshare possible as a qualified provider of these copyrighted materials.&nbsp; Many
    of the copyrighted books in Bookshare are provided to us through permission
    agreements with publishers, and our commitment to them is to limit the
    distribution of copyrighted materials to people with disabilities, using the
    same set of qualifications.&nbsp; Because of differences in national laws, and
    limitations in permissions agreements, not all Bookshare titles are available in
    all countries.</p>

<p>This webpage, including the Table that follows and the answers to Frequently
    Asked Questions, below, provide the guidelines for determining what qualifies as
    a print disability. It also lists examples of Competent Authorities qualified by
    law to make this assessment. A Competent Authority is a person with professional
    qualifications which permit that professional to certify that the prospective
    Bookshare member qualifies under U.S. Copyright law or its local equivalent.&nbsp;
    For more detailed information, carefully review the Frequently Asked
    Qualifications Questions below the table.&nbsp;</p>







<div class="table-responsive">

<table class="table table-bordered">
    <tbody>
    <tr>
        <th>
            <p>Disability</p>
        </th>
        <th>
            <p>Qualified/Not Qualified</p>
        </th>
        <th>
            <p>Examples of Competent Authorities</p>
        </th>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>
            <ul>
                <li>Visual Impairment (VI)</li>
                <li>Blindness / Low vision</li>
            </ul>
        </td>
        <td>
            <p>Qualified, if confirmed by a listed&nbsp; Competent Authority</p>
        </td>
        <td>
            <p>A family doctor, ophthalmologist, optometrist, Teacher of the Visually
                Impaired, Special Education teacher</p>

            <p>Certification from the National Library Service for the Blind and Physically
                Handicapped in the U.S. or similar national body in other countries</p>
        </td>
    </tr>
    <tr>
        <td>
            <ul>
                <li>Physical Disability (PD)</li>
            </ul>
        </td>
        <td>
            <p>Qualified, if confirmed by a listed Competent Authority that the disability
                significantly affects the use of printed materials</p>
        </td>
        <td>
            <p>A family doctor or other medical professional, physical therapist, resource
                specialist, Special Education teacher</p>
        </td>
    </tr>
    <tr>
        <td>
            <ul>
                <li>Learning Disability (LD)</li>
                <li>Reading Disability</li>
            </ul>
        </td>
        <td>
            <p>Qualified, if confirmed by a listed Competent Authority, that the disability
                has a physical basis and significantly affects the use of print</p>
        </td>
        <td>
            <p>A neurologist, psychiatrist, learning disability specialist, Special
                Education teacher, school psychologist, or clinical psychologist with a
                background in learning disabilities</p>
        </td>
    </tr>
    <tr>
        <td>
            <ul>
                <li>Autism</li>
                <li>Emotional disabilities</li>
                <li>ADHD</li>
                <li>ESL and ELL</li>
                <li>Intellectual Disabilities</li>
            </ul>
        </td>
        <td><strong>Not qualified under this diagnosis,</strong>
            <p>unless accompanied by a qualifying visual, physical, learning or reading
                disability as certified by a Competent Authority as above</p>
        </td>
        <td>
            <p>Examples listed above</p>
        </td>
    </tr>
    </tbody>
</table>

<p>&nbsp;</p>
<h2>Frequently Asked Questions: Qualifications </h2>
<ol>
    <li><strong>I have a vision disability; how do I know if I qualify?</strong>
        <br>
        If you are legally blind, you qualify. In addition, if you don’t meet the legal
        blindness standard, a functional vision assessment that indicates a significant
        problem accessing text is also acceptable.</li>
    <li><strong>I have a learning disability; how do I know if I qualify? </strong>
        <br>
        If you are a K-12 student in the U.S. who has an Individualized Education Plan
        (IEP) with a specific language learning disability and a need for text
        accommodations, your school should be able to confirm that you qualify and sign
        you up for Bookshare membership.&nbsp; But, other K-12 students with learning
        disabilities as well as adults and people residing in other countries also may
        qualify.&nbsp; People with a significant learning disability that affects reading
        should be able to obtain an equivalent proof of print disability through their
        school or a professional with expertise in learning disabilities.</li>
    <li><strong>I have a physical disability; how do I know if I qualify?</strong>
        <br>
        If you cannot pick up a book, turn pages, maintain visual focus on a book or do
        not have the physical stamina to work with printed material, you most likely
        qualify for Bookshare membership.</li>
    <li><strong>So, who doesn’t qualify?</strong> <br>
        The 98% of the population who can pick up a book and read it (or could if they
        learned to read). The copyright exemption exists to help the small number of
        people whose disabilities have a major impact on their ability to read. Other
        people who don’t qualify include:&nbsp;
        <ul>
            <li>People without disabilities</li>
            <li>People who have not yet learned to read, but could</li>
            <li>People who do not speak the language of material they want to read</li>
            <li>People with disabilities that do not impact the ability to read (for
                example, most hearing and emotional disabilities)</li>
        </ul>
        Some people with these disabilities might qualify on another basis. For example,
        someone who is <em>both </em>deaf and legally blind qualifies for Bookshare.
        Someone with a developmental disability <em>and </em>a learning disability might
        qualify.</li>
    <li><strong>I’m a certifying professional who qualifies as a Competent
        Authority. How can I access the technical requirements of the law for
        certification?</strong><br>
        The full technical and legal details are available on the Library of Congress’
        <a href="/_/aboutUs/legal/chafeeAmendment">Chafee Amendment page</a> and the
        supporting regulations (Section B.2.i.).&nbsp; If you are certifying someone who has
        a physically-based disability (including dyslexia) that makes it difficult to
        read standard print effectively, he or she should meet the technical
        requirements and you should be able to confirm this in writing if your
        professional expertise is applicable to such a determination.&nbsp; Outside the
        United States, we accept professionals with equivalent qualifications.</li>
    <li><strong>Do other significant disabilities, such as autism, intellectual
        disabilities, ADHD, or a hearing loss count as qualifying print
        disabilities?</strong><br>
        By themselves, these other diagnoses do not qualify as a print disability under
        the laws and agreements that determine Bookshare eligibility.&nbsp;&nbsp; Many people with
        one or more of these disabilities do not experience a significant limitation
        when it comes to reading print books.&nbsp; It is quite possible that some people
        with these disabilities could still qualify because of other factors. For
        example, a severe visual or learning disability could also be present in a
        person with these other disabilities. So, a person who is both deaf and blind,
        or ADHD and significantly dyslexic, could qualify.</li>
    <li><strong>What about disabilities that affect reading that are
        temporary?</strong>
        <p>A person who is temporarily disabled when it comes to reading print may
            utilize Bookshare services during the period of significant print disability.
            However, once an individual has regained the ability to read normally, he or she
            no longer qualifies for access to Bookshare and should cancel their account.</p>
    </li>
</ol>

<p><strong>8.&nbsp;&nbsp;&nbsp; Why doesn’t Bookshare follow Special Education Law in
    determining eligibility for services?</strong></p>

<p>Bookshare is a nonprofit entity established with a principal purpose of
    helping people with disabilities. It would very much like to see more people
    with disabilities, including more students, benefit from our services. However,
    we are bound first, by copyright law and, when it comes to serving students,
    special education laws. So, some students with disabilities who could benefit
    from accommodations for accessing text, who are entitled to these adaptations
    under special education law in the U.S., don’t qualify under the copyright law
    exemption.&nbsp;&nbsp; Not all students with Individual Education Plans (IEPs) qualify for
    Bookshare services.&nbsp; For example, a deaf student with an IEP who is reading text
    at grade level would not meet the copyright definition of print disability,
    while qualifying for other services related to deafness. Yet, many students
    without IEPs or 504 plans (in the U.S.) may qualify for access under the
    copyright law exemption.</p>

<p>The standards set in the U.S. Copyright laws which permit copying and
    distribution of these copyrighted materials apply only to certain specified
    groups of people.&nbsp; Bookshare qualifies under the Chafee Amendment (17 USC §121),
    to provide such services, which would otherwise be a copyright infringement.
    Thus, Bookshare does not set the rules for qualification. It is very important
    that Bookshare respect these rules to ensure we can continue to serve people
    with the most significant disabilities when it comes to reading print.&nbsp;</p>

<p>This copyright law exemption is a social bargain which tries to balance the
    needs of people who are unable to read normal print with the economic rights of
    publishers and authors.&nbsp; It is not simply based on who might benefit from access
    to accessible materials.&nbsp; It restricts the exemption to a group of people who
    are assumed to not be able to access regular print materials because of a severe
    disability.&nbsp; Publishers and authors do not receive a royalty under this
    copyright exemption, so they have an economic interest in ensuring it stays
    narrowly focused on the two percent of the population who cannot read standard
    print.</p>

<p>Because of the provisions of the law, Bookshare is required to place the
    responsibility of certification on the professional signing the Proof of
    Disability form to confirm that each Bookshare Member meets the copyright
    definition. Here is a simplified guide on students who should be able to qualify
    for Bookshare services and to have a certifying professional (who meets the
    legal definition of a Competent Authority) sign-off on the specifics of a
    student’s qualification:</p>

<ul>
    <li>Students with visual impairments that keep them from reading standard print
        (blind, legally blind, or with other functional vision limitations).</li>
    <li>Students with severe learning disabilities that keep them from being able to
        effectively read standard print. This includes students with IEPs that call for
        text accommodation to respond to specific language learning disabilities.</li>
    <li>Students with physical disabilities that prevent them from reading print or
        using a print book. Such a limitation could be the result of a spinal cord
        injury, cerebral palsy, traumatic brain injury, a neurological condition, etc.
    </li>
</ul>

<p>Our Bookshare team believes strongly in the value of accessible media for all
    students who might benefit from them, beyond those who currently qualify under
    these copyright exemptions. Bookshare is working with domestic and international
    publishers to see if there is a market model solution for these other students
    that provides publishers and authors with compensation. We would like all
    mainstream ebooks sold to be accessible, and to see that all material that is
    born digitally is born accessibly for all. It is also important that Bookshare
    continues to operate in careful compliance with copyright law to ensure that
    Bookshare can continue to serve students with severe disabilities today.&nbsp; We
    look forward to the day when everybody who might benefit from accessible
    materials has access to them.&nbsp; Thank you for your understanding.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<ol>
</ol>



</div>
</div>