        <div class="col-lg-4 sidebar">
            <div class="well">
            	 <h4>Search</h4>
            	<form action="/static_pages/search_text" method="get">
                 <div class="input-group">
                    <input name="searchtxt" type="text" class="form-control">
              <span class="input-group-btn">
                <button class="btn btn-default" id="search-btn" type="submit"><span class="glyphicon glyphicon-search"></span></button>
              </span>
                </div><!-- /input-group -->
			</form>
                <div class="row">
                    <div class="col-lg-5">
                     <a href="#">Advanced Search</a>
                    </div>
                    <div class="col-lg-2">
                     <a href="#">Browse</a>
                    </div>
                 </div>
            </div><!-- /well -->
            <div class="well">
                <h4>Quick Links</h4>
                <div class="row">
                    <div class="col-lg-7">
                        <ul class="list-unstyled">
                            <li><a href="#">Newspaper & Magazines</a></li>
                            <li><a href="#">Traning</a></li>
                            <li><a href="#">Donate Now</a></li>
                            <!--<li><a href="#wild-animals">Wild Animals</a></li>-->
                        </ul>
                    </div>

                </div>
            </div><!-- /well -->
            <div class="well">
                <h4>Side Widget Well</h4>
                <p>Support our Veterans!

                    Help support Veterans with print disabilities by joining Benetech's CrowdRise campaign. Check out the largest ever CrowdRise.com challenge from the Skoll Foundation and learn how you can help a Veteran today!</p>
            </div><!-- /well -->
        </div>